<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict Data</title>
</head>
<body>
    <center>
    <div class="container">
      <h1>Predict Traffic Status</h1>
        <br>
      <form action="" method="post">
        <input type="text" placeholder="Road ID" name="roadid" value="{{
          request.form.roadid }}"> <br>
         <input type="text" placeholder="Direction" name="direction" value="{{
          request.form.direction }}"> <br>
        <input type="text" placeholder="Day of Week" name="dayofweek" value="{{
          request.form.dayofweek }}"> <br>
         <input type="text" placeholder="Time of Day" name="timeofday" value="{{
          request.form.timeofday }}"> <br>
        <input class="btn btn-default" type="submit" value="Predict">
      </form>
      {% if response %}
        <p class="response"> {{ response }}
      {% endif %}
    <br><br>
    </div>
    </center>
    <center>
        <div class="container">
            <button onclick="location.href='/'" type="button">
             Home Page</button>
        </div>
    </center>
</body>
</html>